.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/src/font/EOT/LINESeedSansTH_W_Bd.eot') format('embedded-opentype'),
       url('/src/font/WOFF2/LINESeedSansTH_W_Bd.woff2') format('woff2'),
       url('/src/font/WOFF/LINESeedSansTH_W_Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


  

.Title2 {
  color: #000;
  margin-left: 20%;
  margin-top: 200px;
  font-size: 48px;
  font-family: 'LINESeedSansTH_W_He'
  
}
.Title {
  color: #000;
  margin-left: 25%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
